@import url("https://fonts.googleapis.com/css?family=Nunito");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito";
}

:root {
  --primary: #851d41;
  --yellow: #ffba08;
  --primary-text: #1c3144;
}
